.wrapper {
  background-color: rgb(32, 32, 32);
  display: flex;
  width: 100vw;
  height: 100vh;

  .text {
    display: flex;
    flex-direction: column;
    margin-left: 120px;

    .headerLogo {
      width: 100%;
      max-width: 300px;
    }

    .brandName {
      width: 100%;
      max-width: 954px;
      font-family: "Inter", sans-serif;
      color: #ff7a00;
      font-size: 80px;
      text-transform: uppercase;
      text-wrap: nowrap;
    }

    .brandDescription {
      font-family: "Inter", sans-serif;
      color: white;
      width: 100%;
      max-width: 650px;
      font-size: 30px;
    }

    .button {
      margin-top: 20px;
      width: 100%;
      max-width: 520px;
      border-radius: 60px;
      background: grey;
      height: 100px;
      border: none;
      cursor: pointer;
      color: white;
      font-family: "Inter", sans-serif;
      font-size: 50px;
      transition: 0.3s;

      &:hover {
        background-color: #ffffff2f;
      }
    }

    .auth {
      margin-top: 10px;
      display: flex;
      column-gap: 10px;
      opacity: 90%;

      .text {
        color: #fff;
        font-family: "Inter", sans-serif;
        opacity: 50%;
      }

      .btn {
        width: 60px;
        background: none;
        border: none;
        cursor: pointer;
        color: #fff;
        transition: 0.3s;
        border-radius: 3px;

        &:hover {
          background-color: #ffffff52;
        }
      }
    }

    .socials {
      margin-top: 50px;
    }
  }
}
